:root {
    --primary-color:#4d7111;
    --secondary-color:#c3e956;
    --tertiary-color:#91eaaf;
    --light-color:#f4fffc;
    --dark-color:#1f4b2c;
}

/*=====NAVBAR====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-color);
}

.navbar {
    padding: 20px 50px;
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
}

.navbar ul{
    flex: 1;
    text-align: right;
}

.navbar ul li{
    display: inline-block;
    margin: 0 30px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar img{
        height: 100px;
    }
    .navbar .desktop-list {
        display: none;
    }

    .mobile-list {
        position: fixed;
        bottom: 20px;
        left: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        padding:30px;
        background-color: var(--dark-color);
        border-radius: 5rem;
    }

    .mobile-list a {
        font-size: 40px;
        color: var(--light-color);
        transition: .4s;
    }

    .mobile-list a:hover {
        color: var(--secondary-color);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar img{
        margin:20px;
        height: 130px;
    }

    .navbar .desktop-list {
        display: none;
    }

    .mobile-list {
        position: fixed;
        bottom: 20px;
        left: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        padding:30px;
        background-color: var(--dark-color);
        border-radius: 5rem;
    }

    .mobile-list a {
        font-size: 75px;
        color: var(--light-color);
        transition: .4s;
    }

    .mobile-list a:hover {
        color: var(--secondary-color);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar img{
        height: 60px;
    }

    .navbar .desktop-list {
        display: block;
    }

    .mobile-list {
        position: fixed;
        bottom: 20px;
        left: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        padding:30px;
        background-color: var(--dark-color);
        border-radius: 5rem;
    }

    .mobile-list a {
        font-size: 45px;
        color: var(--light-color);
        transition: .4s;
    }

    .mobile-list a:hover {
        color: var(--secondary-color);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar img{
        height: 55px;
    }

    .navbar .desktop-list {
        display: block;
    }
    .mobile-list {
        display: none;
    }
}
